## <SECRETS> ##
POSTGRES_PASSWORD=
TAILSCALE_AUTHKEY=
SLIDING_SYNC_PASSWORD=

# NOTES
# *_EXTERNAL_PORT | these are bound to the host loopback for use by tailscale
#                   ex: 127.0.0.1:${SOME_EXTERNAL_PORT}:${SOME_INTERNAL_PORT}
#                   here external ports start at 63101
#                   according to IANA: The Dynamic and/or Private Ports are those from 49152 through 65535

## <VARIABLES> ##

## <COMMON> ##
MEDIA_DIRPATH='/volume1/downloaded-media/data'

PGID=65534
PUID=65534

TAILSCALE_DOCKER_MOD='ghcr.io/tailscale-dev/docker-mod:main'
TAILSCALE_SERVE_MODE='https'
TAILSCALE_STATE_DIR='/var/lib/tailscale'
TAILSCALE_USE_SSH=0

TZ='America/Vancouver'


## <SERVICES> ##
MATRIX_APP_DATA="/volume2/docker-data/services/matrix/app-data"
MATRIX_EXTERNAL_PORT=63104
MATRIX_INTERNAL_PORT=8008
MATRIX_REPORT_STATS='no'
MATRIX_SERVER_NAME=localhost

POSTGRES_USER=postgres
POSTGRES_PORT=5432

SLIDING_SYNC_INTERNAL_PORT=8009

ZNC_APP_DATA="/volume2/docker-data/services/znc/app-data"
ZNC_PORT=6501
