## <SECRETS> ##
BINHEX_NAME_SERVERS=
BINHEX_VPN_PROVIDER=
DISCORD_TOKEN=
MAM_SESSION_COOKIE=
MINIO_PASSWORD=
RADARR_API_KEY=
SONARR_API_KEY=
CALIBRE_PASSWORD=
GLUETUN_VPN_SERVICE_PROVIDER=
GLUETUN_WIREGUARD_PRIVATE_KEY=
GLUETUN_WIREGUARD_PRESHARED_KEY=

# linuxserver.io G/UID with read_only set
# https://docs.linuxserver.io/misc/read-only/#how
PUID=911
PGID=1001








DOWNLOADS=/volume1/slippi-torrent-downloads/root
TRANSMISSION_PORT=9091
TRANSMISSION_LISTENING_PORT=52119

TRANSMISSION_APP_DATA="${DOCKER_DATA?error}/services/transmission-slippi/app-data"
TRANSMISSION_USER_DATA="${DOCKER_DATA?error}/services/transmission-slippi/user-data"
TRANSMISSION_DOWNLOADS="${DOWNLOADS?error}/slippi-data/services/transmission/downloads"
TRANSMISSION_UPLOADS="${DOWNLOADS?error}/slippi-data/services/transmission/uploads"







## <SERVICES> ##
BAZARR_APP_DATA=${DOCKER_DATA?error}/services/bazarr/app-data
BAZARR_PORT=6767

CALIBRE_APP_DATA=${DOCKER_DATA?error}/services/calibre/app-data
CALIBRE_DESKTOP_PORT=8080
CALIBRE_WEBSERVER_PORT=8081

CALIBRE_WEB_APP_DATA=${DOCKER_DATA?error}/services/calibre-web/app-data
CALIBRE_WEB_PORT=8083

BINHEX_LAN_NETWORK=192.168.10.0/24
BINHEX_VPN_CLIENT=openvpn

DOPLARR_APP_DATA=${DOCKER_DATA?error}/services/doplarr/app-data


LIDARR_APP_DATA=${DOCKER_DATA?error}/services/lidarr/app-data
LIDARR_PORT=8686


GLUETUN_WIREGUARD_ADDRESSES=10.156.172.158/32,fd7d:76ee:e68f:a993:14fc:56c7:d037:31e6/128
GLUETUN_SERVER_COUNTRIES=Netherlands
GLUETUN_DOT_PROVIDERS=quad9

OMBI_APP_DATA=${DOCKER_DATA?error}/services/ombi/app-data
OMBI_PORT=3579

OVERSEERR_APP_DATA=${DOCKER_DATA?error}/services/overseerr/app-data
OVERSEERR_PORT=5055

PLEX_APP_DATA=${DOCKER_DATA?error}/services/plex/app-data
PLEX_META_MANAGER_APP_DATA=${DOCKER_DATA?error}/services/plex-meta-manager/app-data
PLEX_PORT=32400

PROWLARR_APP_DATA=${DOCKER_DATA?error}/services/prowlarr/app-data
PROWLARR_PORT=9696

BINHEX_QBITTORRENT_APP_DATA=${DOCKER_DATA?error}/services/qbittorrent-vpn/app-data
BINHEX_QBITTORRENT_EXTERNAL_PORT=63105
BINHEX_QBITTORRENT_INTERNAL_PORT=8080
BINHEX_QBITTORRENT_TORRENTING_PORT=61864
BINHEX_QBITTORRENT_USER_DATA=${DOCKER_DATA?error}/services/qbittorrent-vpn/user-data


QBITTORRENT_APP_DATA=${DOCKER_DATA?error}/services/qbittorrent/app-data
QBITTORRENT_EXTERNAL_PORT=63105
QBITTORRENT_INTERNAL_PORT=8080
QBITTORRENT_TORRENTING_PORT=61864
QBITTORRENT_USER_DATA=${DOCKER_DATA?error}/services/qbittorrent/user-data

NZBGET_APP_DATA=${DOCKER_DATA?error}/services/nzbget/app-data
NZBGET_PORT=6789

RADARR_APP_DATA=${DOCKER_DATA?error}/services/radarr/app-data
RADARR_PORT=7878

READARR_APP_DATA=${DOCKER_DATA?error}/services/readarr/app-data
READARR_PORT=8787
READARR_USER_DATA=${DOCKER_DATA?error}/services/readarr/user-data

RECYCLARR_APP_DATA=${DOCKER_DATA?error}/services/recyclarr/app-data

SABNZBD_APP_DATA=${DOCKER_DATA?error}/services/sabnzbd-vpn/app-data
SABNZBD_EXTERNAL_PORT=63101
SABNZBD_INTERNAL_PORT=8080
SABNZBD_USER_DATA=${DOCKER_DATA?error}/services/sabnzbd-vpn/user-data

SONARR_APP_DATA=${DOCKER_DATA?error}/services/sonarr/app-data
SONARR_PORT=8989

UNPACKERR_APP_DATA=${DOCKER_DATA?error}/services/unpackerr/app-data
