## <SECRETS> ##
GLUETUN_VPN_SERVICE_PROVIDER=
GLUETUN_WIREGUARD_PRESHARED_KEY=
GLUETUN_WIREGUARD_PRIVATE_KEY=
LIDARR_API_KEY=
MAM_SESSION_COOKIE=
RADARR_API_KEY=
READARR_API_KEY=
SONARR_API_KEY=
TAILSCALE_AUTHKEY=


## <MY_SERVICES> ##
BAZARR_APP_DATA="${DOCKER_DATA?error}/services/bazarr/app-data"
BAZARR_PORT=6767

CALIBRE_APP_DATA="${DOCKER_DATA?error}/services/calibre/app-data"
CALIBRE_DESKTOP_PORT=8080
CALIBRE_WEB_APP_DATA="${DOCKER_DATA?error}/services/calibre-web/app-data"
CALIBRE_WEB_PORT=8083
CALIBRE_WEBSERVER_PORT=8081

GLUETUN_DOT_PROVIDERS='quad9'
GLUETUN_SERVER_COUNTRIES='Netherlands'
GLUETUN_WIREGUARD_ADDRESSES='10.156.172.158/32,fd7d:76ee:e68f:a993:14fc:56c7:d037:31e6/128'

LIDARR_APP_DATA="${DOCKER_DATA?error}/services/lidarr/app-data"
LIDARR_PORT=8686

NZBGET_APP_DATA="${DOCKER_DATA?error}/services/nzbget/app-data"
NZBGET_PORT=6789
NZBGET_USER_DATA="${DOCKER_DATA?error}/services/nzbget/user-data"

OVERSEERR_APP_DATA="${DOCKER_DATA?error}/services/overseerr/app-data"
OVERSEERR_PORT=5055

PLEX_APP_DATA="${DOCKER_DATA?error}/services/plex/app-data"
PLEX_META_MANAGER_APP_DATA="${DOCKER_DATA?error}/services/plex-meta-manager/app-data"
PLEX_PORT=32400

PROWLARR_APP_DATA="${DOCKER_DATA?error}/services/prowlarr/app-data"
PROWLARR_PORT=9696

QBITTORRENT_APP_DATA="${DOCKER_DATA?error}/services/qbittorrent/app-data"
QBITTORRENT_EXTERNAL_PORT=63105
QBITTORRENT_INTERNAL_PORT=8080
QBITTORRENT_TORRENTING_PORT=61864
QBITTORRENT_USER_DATA="${DOCKER_DATA?error}/services/qbittorrent/user-data"

RADARR_APP_DATA="${DOCKER_DATA?error}/services/radarr/app-data"
RADARR_PORT=7878

READARR_APP_DATA="${DOCKER_DATA?error}/services/readarr/app-data"
READARR_PORT=8787
READARR_USER_DATA="${DOCKER_DATA?error}/services/readarr/user-data"

RECYCLARR_APP_DATA="${DOCKER_DATA?error}/services/recyclarr/app-data"

SONARR_APP_DATA="${DOCKER_DATA?error}/services/sonarr/app-data"
SONARR_PORT=8989

UNPACKERR_APP_DATA="${DOCKER_DATA?error}/services/unpackerr/app-data"

## <SLIPPI_SERVICES> ##
SLIPPI_TRANSMISSION_LISTENING_PORT=52119
