## <SECRETS> ##
TAILSCALE_AUTHKEY=
MINIFLUX_PASS=
POSTGRES_PASSWORD=

## <VARIABLES> ##

# NOTES
# *_EXTERNAL_PORT | these are bound to the host loopback for use by tailscale
#                   ex: 127.0.0.1:${SOME_EXTERNAL_PORT}:${SOME_INTERNAL_PORT}
#                   here external ports start at 63101
#                   according to IANA: The Dynamic and/or Private Ports are those from 49152 through 65535

## <COMMON> ##
MEDIA_DIRPATH='/volume1/downloaded-media/data'

PGID=65534
PUID=65534

TAILSCALE_DOCKER_MOD='ghcr.io/tailscale-dev/docker-mod:main'
TAILSCALE_SERVE_MODE='https'
TAILSCALE_STATE_DIR='/var/lib/tailscale'
TAILSCALE_USE_SSH=0

TAILSCALE_SERVE_CONFIGS='/volume1/docker-data/services/tailscale-serve-configs'

TZ='America/Vancouver'

## <SERVICES> ##
MINIFLUX_USER=admin_boring_exciting1061
POSTGRES_USER=miniflux
POSTGRES_DB=miniflux
