## <SECRETS> ##
TS_AUTHKEY=

## <VARIABLES> ##

PGID=65534
PUID=65534
UID_NOBODY=65534

TS_DOCKER_MOD='ghcr.io/tailscale-dev/docker-mod:main'
TS_SERVE_MODE='https'
TS_STATE_DIR='/var/lib/tailscale'
TS_USE_SSH=0
TS_SERVE_CONFIGS='/volume2/docker-data/services/tailscale-serve-configs'
TS_SERVE_MODE='https'
TS_STATE_DIR='/var/lib/tailscale'

TZ='America/Vancouver'


#DOWNLOADED_MEDIA='/volume3/REFURB/rsync/data'
DOWNLOADED_MEDIA='/volume1/torrent-downloads/torrent-downloads'

DOCKER_DATA='/volume2/docker-data'

MEDIA_DIRPATH="${DOWNLOADED_MEDIA?error}/data"


BINHEX_QBITTORRENT_APP_DATA=${DOCKER_DATA?error}/services/qbittorrent-vpn/app-data
BINHEX_QBITTORRENT_EXTERNAL_PORT=63105
BINHEX_QBITTORRENT_INTERNAL_PORT=8080
BINHEX_QBITTORRENT_TORRENTING_PORT=61864
BINHEX_QBITTORRENT_USER_DATA=${DOCKER_DATA?error}/services/qbittorrent-vpn/user-data
