## <SECRETS> ##
TS_AUTHKEY=

## <VARIABLES> ##

UID_NOBODY=65534

# linuxserver.io G/UID with read_only set
# https://docs.linuxserver.io/misc/read-only/#how
PUID=911
PGID=1001

TS_DOCKER_MOD='ghcr.io/tailscale-dev/docker-mod:main'
TS_SERVE_MODE='https'
TS_STATE_DIR='/var/lib/tailscale'
TS_USE_SSH=0
TS_SERVE_CONFIGS='/volume2/docker-data/services/tailscale-serve-configs'
TS_SERVE_MODE='https'
TS_STATE_DIR='/var/lib/tailscale'

TZ='America/Vancouver'


#DOWNLOADED_MEDIA='/volume3/REFURB/rsync/data'
DOWNLOADED_MEDIA='/volume1/torrent-downloads/torrent-downloads'

DOCKER_DATA='/volume2/docker-data'

MEDIA_DIRPATH="${DOWNLOADED_MEDIA?error}/data"
