## <SECRETS> ##
MINIO_PASSWORD=
MINIO_ROOT_PASSWORD=
TS_AUTHKEY=

## <VARIABLES> ##

# NOTES
# *_EXTERNAL_PORT | these are bound to the host loopback for use by tailscale
#                   ex: 127.0.0.1:${SOME_EXTERNAL_PORT}:${SOME_INTERNAL_PORT}
#                   here external ports start at 63101
#                   according to IANA: The Dynamic and/or Private Ports are those from 49152 through 65535

## <COMMON> ##
MEDIA_DIRPATH='/volume1/downloaded-media/data'

PGID=65534
PUID=65534

TS_DOCKER_MOD='ghcr.io/tailscale-dev/docker-mod:main'
TS_SERVE_MODE='https'
TS_STATE_DIR='/var/lib/tailscale'
TS_USE_SSH=0
TS_SERVE_CONFIGS='/volume2/docker-data/services/tailscale-serve-configs'

TZ='America/Vancouver'

## <SERVICES> ##
DSM_EXTERNAL_PORT=63180             # http

FAKE_DATA_GENERATOR_PORT=3000

HOMARR_APP_DATA='/volume2/docker-data/services/homarr/app-data'
HOMARR_PORT=7575

PORTAINER_PORT=9000
PORTAINER_APP_DATA='/volume2/docker-data/services/portainer/app-data'
