## <SECRETS> ##
MINIO_PASSWORD=
MINIO_ROOT_PASSWORD=
TAILSCALE_AUTHKEY=

## <VARIABLES> ##

# NOTES
# *_EXTERNAL_PORT | these are bound to the host loopback for use by tailscale
#                   ex: 127.0.0.1:${SOME_EXTERNAL_PORT}:${SOME_INTERNAL_PORT}
#                   here external ports start at 63101
#                   according to IANA: The Dynamic and/or Private Ports are those from 49152 through 65535

## <COMMON> ##
MEDIA_DIRPATH='/volume1/downloaded-media/data'

PGID=65534
PUID=65534

TAILSCALE_DOCKER_MOD='ghcr.io/tailscale-dev/docker-mod:main'
TAILSCALE_SERVE_MODE='https'
TAILSCALE_STATE_DIR='/var/lib/tailscale'
TAILSCALE_USE_SSH=0
TAILSCALE_SERVE_CONFIGS='/volume1/docker-data/services/tailscale-serve-configs'

TZ='America/Vancouver'

## <SERVICES> ##
DSM_EXTERNAL_PORT=63180             # http

FAKE_DATA_GENERATOR_PORT=3000

FRESH_RSS_APP_DATA="/volume1/docker-data/services/fresh-rss/app-data"
FRESH_RSS_INTERNAL_PORT=80

MINIO_BACKUP_DATA="/volume1/minio/minio-app-data"
MINIO_BUCKET_NAME=mbp16
MINIO_ROOT_USER=user00
MINIO_USERNAME=arq
