## <SECRETS> ##
POSTGRES_PASSWORD=
SLIDING_SYNC_PASSWORD=

## <SERVICES> ##
MATRIX_APP_DATA="${DOCKER_DATA?error}/services/matrix/app-data"
MATRIX_EXTERNAL_PORT=63104
MATRIX_INTERNAL_PORT=8008
MATRIX_REPORT_STATS='no'
MATRIX_SERVER_NAME=matrix.stonecat-shark.ts.net

DISCORD_BRIDGE_APP_DATA="${DOCKER_DATA?error}/services/matrix-discord-bridge/app-data"
DISCORD_BRIDGE_PORT=29334

POSTGRES_USER=postgres
POSTGRES_PORT=5432

SLIDING_SYNC_INTERNAL_PORT=8009

CONDUIT_PORT=6167

