## APP CONFIGS


DOWNLOADS=/volume1/slippi-torrent-downloads/root
TRANSMISSION_PORT=9091
TRANSMISSION_LISTENING_PORT=52119

TRANSMISSION_APP_DATA="${DOCKER_DATA?error}/services/transmission-slippi/app-data"
TRANSMISSION_USER_DATA="${DOCKER_DATA?error}/services/transmission-slippi/user-data"
TRANSMISSION_DOWNLOADS="${DOWNLOADS?error}/slippi-data/services/transmission/downloads"
TRANSMISSION_UPLOADS="${DOWNLOADS?error}/slippi-data/services/transmission/uploads"


HAUGENE_TRANSMISSION_APP_DATA="${DOCKER_DATA?error}/services/transmission-haugene-slippi.BAK/app-data"
HAUGENE_TRANSMISSION_USER_DATA="${DOCKER_DATA?error}/services/transmission-haugene-slippi.BAK/user-data"
HAUGENE_TRANSMISSION_DOWNLOADS="${DOWNLOADS?error}/slippi-data/services/transmission.BAK/downloads"
HAUGENE_TRANSMISSION_UPLOADS="${DOWNLOADS?error}/slippi-data/services/transmission.BAK/uploads"
HAUGENE_TRANSMISSION_PORT=9091
HAUGENE_TRANSMISSION_LISTENING_PORT=52119

FILESTATION_PORT=7001