## APP CONFIGS

DOCKER_DATA=/volume2/slippi-docker-data/root

DOWNLOADS=/volume1/slippi-torrent-downloads/root
TRANSMISSION_PORT=9091
TRANSMISSION_LISTENING_PORT=52119

TRANSMISSION_APP_DATA="${DOCKER_DATA?error}/services/transmission-slippi/app-data"
TRANSMISSION_DOWNLOADS="${DOWNLOADS?error}/slippi-data/services/transmission/downloads"
TRANSMISSION_UPLOADS="${DOWNLOADS?error}/slippi-data/services/transmission/uploads"

FILESTATION_PORT=7001
