## APP CONFIGS
TRANSMISSION_APP_DATA="${DOCKER_DATA?error}/services/transmission-slippi/app-data"
TRANSMISSION_PORT=9091
TRANSMISSION_LISTENING_PORT=52119
TRANSMISSION_USER_DATA="${DOCKER_DATA?error}/services/transmission-slippi/user-data"

TRANSMISSION_DOWNLOADS="${DOWNLOADED_MEDIA?error}/slippi-data/services/transmission"
TRANSMISSION_COMPLETE="${DOWNLOADED_MEDIA?error}/slippi-data/services/transmission/complete"
TRANSMISSION_INCOMPLETE="${DOWNLOADED_MEDIA?error}/slippi-data/services/transmission/incomplete"