## <SECRETS> ##
TAILSCALE_AUTHKEY=

# VARIABLES
## <VARIABLES> ##

# NOTES
# *_EXTERNAL_PORT | these are bound to the host loopback for use by tailscale
#                   ex: 127.0.0.1:${SOME_EXTERNAL_PORT}:${SOME_INTERNAL_PORT}
#                   here, ports start at 62101
#                   according to IANA: The Dynamic and/or Private Ports are those from 49152 through 65535

## <COMMON> ##
MEDIA_DIRPATH='/volume1/downloaded-media/data'

PGID=100
PUID=1050

TAILSCALE_DOCKER_MOD='ghcr.io/tailscale-dev/docker-mod:main'
TAILSCALE_SERVE_MODE='https'
TAILSCALE_STATE_DIR='/var/lib/tailscale'
TAILSCALE_USE_SSH=0


## <SERVICES> ##
DSM_FILESTATION_PORT=62102
TRANSMISSION_APP_DATA="/volume1/docker-data/services/transmission-slippi/app-data"
TRANSMISSION_EXTERNAL_PORT=62101
TRANSMISSION_INTERNAL_PORT=9091
TRANSMISSION_LISTENING_PORT=52119
TRANSMISSION_USER_DATA_DOWNLOADS="/volume1/downloaded-media-slippi/transmission-downloads"
TRANSMISSION_USER_DATA="/volume1/docker-data/services/transmission-slippi/user-data"
TZ='America/Vancouver'
