## <SECRETS> ##
TS_AUTHKEY=

## <VARIABLES> ##

# NOTES
# *_EXTERNAL_PORT | these are bound to the host loopback for use by tailscale
#                   ex: 127.0.0.1:${SOME_EXTERNAL_PORT}:${SOME_INTERNAL_PORT}
#                   here external ports start at 63101
#                   according to IANA: The Dynamic and/or Private Ports are those from 49152 through 65535

## <COMMON> ##
PGID=65534
PUID=65534

TS_SERVE_MODE='https'
TS_STATE_DIR='/var/lib/tailscale'

TZ='America/Vancouver'
