## <SECRETS> ##
BINHEX_NAME_SERVERS=
BINHEX_VPN_PROVIDER=
DISCORD_TOKEN=
MAM_SESSION_COOKIE=
MINIO_PASSWORD=
RADARR_API_KEY=
SONARR_API_KEY=
TAILSCALE_AUTHKEY=

## <VARIABLES> ##

# NOTES
# *_EXTERNAL_PORT | these are bound to the host loopback for use by tailscale
#                   ex: 127.0.0.1:${SOME_EXTERNAL_PORT}:${SOME_INTERNAL_PORT}
#                   here external ports start at 63101
#                   according to IANA: The Dynamic and/or Private Ports are those from 49152 through 65535

## <COMMON> ##
MEDIA_DIRPATH='/volume1/downloaded-media/data'

PGID=65534
PUID=65534

TAILSCALE_DOCKER_MOD='ghcr.io/tailscale-dev/docker-mod:main'
TAILSCALE_SERVE_MODE='https'
TAILSCALE_STATE_DIR='/var/lib/tailscale'
TAILSCALE_USE_SSH=0

TS_SERVE_MODE='https'
TS_STATE_DIR='/var/lib/tailscale'


TZ='America/Vancouver'

## <SERVICES> ##
BAZARR_APP_DATA="/volume2/docker-data/services/bazarr/app-data"
BAZARR_PORT=6767

BINHEX_LAN_NETWORK=192.168.10.0/24
BINHEX_VPN_CLIENT=openvpn

DOPLARR_APP_DATA="/volume2/docker-data/services/doplarr/app-data"

LIDARR_APP_DATA="/volume2/docker-data/services/lidarr/app-data"
LIDARR_PORT=8686

OMBI_APP_DATA="/volume2/docker-data/services/ombi/app-data"
OMBI_PORT=3579

OVERSEERR_APP_DATA="/volume2/docker-data/services/overseerr/app-data"
OVERSEERR_PORT=5055

PLEX_APP_DATA="/volume2/docker-data/services/plex/app-data"
PLEX_META_MANAGER_APP_DATA="/volume2/docker-data/services/plex-meta-manager/app-data"
PLEX_PORT=32400

PROWLARR_APP_DATA="/volume2/docker-data/services/prowlarr/app-data"
PROWLARR_PORT=9696

QBITTORRENT_APP_DATA="/volume2/docker-data/services/qbittorrent-vpn/app-data"
QBITTORRENT_EXTERNAL_PORT=63105
QBITTORRENT_INTERNAL_PORT=8080
QBITTORRENT_USER_DATA="/volume2/docker-data/services/qbittorrent-vpn/user-data"

RADARR_APP_DATA="/volume2/docker-data/services/radarr/app-data"
RADARR_PORT=7878

READARR_APP_DATA="/volume2/docker-data/services/readarr/app-data"
READARR_PORT=8787
READARR_USER_DATA="/volume2/docker-data/services/readarr/user-data"

RECYCLARR_APP_DATA="/volume2/docker-data/services/recyclarr/app-data"

SABNZBD_APP_DATA="/volume2/docker-data/services/sabnzbd-vpn/app-data"
SABNZBD_EXTERNAL_PORT=63101
SABNZBD_INTERNAL_PORT=8080
SABNZBD_USER_DATA="/volume2/docker-data/services/sabnzbd-vpn/user-data"

SONARR_APP_DATA="/volume2/docker-data/services/sonarr/app-data"
SONARR_PORT=8989

UNPACKERR_APP_DATA="/volume2/docker-data/services/unpackerr/app-data"
