## <SECRETS> ##
BINHEX_NAME_SERVERS=
BINHEX_VPN_PROVIDER=
DISCORD_TOKEN=
MAM_SESSION_COOKIE=
MINIO_PASSWORD=
RADARR_API_KEY=
SONARR_API_KEY=


## <SERVICES> ##
BAZARR_APP_DATA=${DOCKER_DATA?error}/services/bazarr/app-data
BAZARR_PORT=6767

BINHEX_LAN_NETWORK=192.168.10.0/24
BINHEX_VPN_CLIENT=openvpn

DOPLARR_APP_DATA=${DOCKER_DATA?error}/services/doplarr/app-data

LIDARR_APP_DATA=${DOCKER_DATA?error}/services/lidarr/app-data
LIDARR_PORT=8686

OMBI_APP_DATA=${DOCKER_DATA?error}/services/ombi/app-data
OMBI_PORT=3579

OVERSEERR_APP_DATA=${DOCKER_DATA?error}/services/overseerr/app-data
OVERSEERR_PORT=5055

PLEX_APP_DATA=${DOCKER_DATA?error}/services/plex/app-data
PLEX_META_MANAGER_APP_DATA=${DOCKER_DATA?error}/services/plex-meta-manager/app-data
PLEX_PORT=32400

PROWLARR_APP_DATA=${DOCKER_DATA?error}/services/prowlarr/app-data
PROWLARR_PORT=9696

QBITTORRENT_APP_DATA=${DOCKER_DATA?error}/services/qbittorrent-vpn/app-data
QBITTORRENT_EXTERNAL_PORT=63105
QBITTORRENT_INTERNAL_PORT=8080
QBITTORRENT_USER_DATA=${DOCKER_DATA?error}/services/qbittorrent-vpn/user-data

RADARR_APP_DATA=${DOCKER_DATA?error}/services/radarr/app-data
RADARR_PORT=7878

READARR_APP_DATA=${DOCKER_DATA?error}/services/readarr/app-data
READARR_PORT=8787
READARR_USER_DATA=${DOCKER_DATA?error}/services/readarr/user-data

RECYCLARR_APP_DATA=${DOCKER_DATA?error}/services/recyclarr/app-data

SABNZBD_APP_DATA=${DOCKER_DATA?error}/services/sabnzbd-vpn/app-data
SABNZBD_EXTERNAL_PORT=63101
SABNZBD_INTERNAL_PORT=8080
SABNZBD_USER_DATA=${DOCKER_DATA?error}/services/sabnzbd-vpn/user-data

SONARR_APP_DATA=${DOCKER_DATA?error}/services/sonarr/app-data
SONARR_PORT=8989

UNPACKERR_APP_DATA=${DOCKER_DATA?error}/services/unpackerr/app-data
