## <SECRETS> ##
MINIFLUX_PASS=
POSTGRES_PASSWORD=

## <SERVICES> ##
MINIFLUX_DB_APP_DATA="${DOCKER_DATA?error}/services/miniflux-db/app-data"
MINIFLUX_PORT=8080
MINIFLUX_USER='admin_boring_exciting1061'
POSTGRES_DB='miniflux'
POSTGRES_USER='miniflux'
REDIS_PORT=6379
RSSHUB_PORT=1200
